
body{
    background: #000;
    color: #fff;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    position: relative;  
    border-top: 5px solid #333;
}
.logo{
     width: 170px;
     cursor: pointer;
     margin-left: 9%;
     margin-top: 5px;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 10px; */
    margin-right: 9%;
    margin-top: 5px;
}
nav button{
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 7px 20px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}
.language-btn{
    display: inline-flex;
    background: transparent;
    border: 1px solid white;
    align-items: center;
    padding: 7px 10px;
}
.language-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 50px;

}
.header-content h1{
    font-size: 60px;
    font-weight: 700px;
    line-height: 70px;
    max-width: 650px;
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden; 
    
    
}
.email-signup input{
    flex:1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
}
.second-div{
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    border-top: 5px solid #333;
    
    
}
.second-text{
    align-items: center;
    padding-top: 20%;
    padding-left: 85px;
    
}
.hx{
   font-size: 40px;
   
}

.hy{
    font-size: 20px;
}
.second-image{
    width:85% ;
    
    padding-left: 5%; 
   
}
.third-div{
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    border-top: 5px solid #333;
}
.second-text{
    align-items: center;
    padding-top: 20%;
    padding-left: 85px;
}
.third-text{
    align-items: center;
    padding-top: 8%;
    padding-left: 85px;
}
.hb{
    font-size: 50px;
}
.hc{
    font-size: 20px;
}
.second-img{
        width:85% ;
        padding-top: 15%;
        padding-left: 12%;
}
.fourth-div{
    background-color: #000;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    border-top: 5px solid #333;
   
}
.fourth-text{
    align-items: center;
    padding-top: 20%;
    padding-left: 50px;
}
.fourth-text{
    align-items: center;
    padding-top: 6%;
    padding-left: 85px;
}
.hd{
    font-size: 50px;
}
.hf{
    font-size: 20px;
}
.fourth-image{
    justify-content: center;
    width: auto;
    height: auto;
}

.fourt-logo{
padding-top: 80px;
height: 80%;



}
.fifth-div{
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    border-top: 5px solid #333;
}
.fifth-text{
    align-items: center;
    padding-top: 15%;
    padding-left: 75px;
}
.hg{
   font-size: 40px;
}

.hh{
    font-size: 20px;
}
.fifth-img{
    width:85% ;
    padding-top: 15%;
    padding-left: 12%;
}
.six-div{
    background-color: #000;
    height: 110vh;
    width: 100%;
    border-top: 5px solid #333;
}
.hi{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 650px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    text-align: center;
    font-size: 18px;
    background:#303030;
    font-weight: 500;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 5px;
    position: relative;
}
input[type="radio"]{
    display: none;
}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
.accordion .content{
    text-align: left;
    background: #303030;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s , padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.type2{
    max-width: 520px;
    margin: 20px auto 20px;
    padding-bottom: 4%;
    padding-left: 4%;
}
.small{
    font-size: 20px;
    margin-left: 29%;
}
.footer{
    background-color: #000;
    height: 70vh;
    width: 100%;
    margin-top: 12%;
    border-top: 5px solid #333;
}
.question{
    width: auto ;
    height: 15%;
    color:#777;
    font-size: 18px;
    font-weight: 400;
    /* padding:50px 15% 10px;   */
    padding-top: 40px;
    padding-left: 150px;
}
.footer-cols{
    width: auto;
    height: 50%;
    display: flex;
   justify-content: center;
   
   gap: 11%;
   
    
}
.cols1{
    color:#777;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    

}
.cols2{
    color:#777;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer; 
    
    
    
}
.cols3{
    color:#777;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer; 
    
   
    
}
.cols4{
    color:#777;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer; 
}
.footer-btn{
    margin-left: 12.7%;
    margin-top: -2%;
    
}
h5{
    color: #777;
    margin-left: 12.7%;
    margin-top: 2%;
    font-size:16px;
    font-weight: 300;
}
h4{
    color: #777;
    padding-bottom: 1%;
  
}
.develope{
    float: right;
}






